/* Wallpaper and more */

@font-face {
    font-family: "Minecraft";
    src: url("../fonts/Minecraft.ttf");
}
body {
    background-image: url(../img/wallpaper.gif);
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Container and Box */

.container-fluid {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: white;
    border: 2px solid black;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    font-family: "Minecraft";
    font-size: 50px;
}

/* Turns */

#turns {
    padding-top: 40px;
    color: orange;
    text-align: center;
    font-family: "Minecraft";
    font-size: 50px;
    visibility: visible;
}

/* Win img */

#winimg {
    color: orange;
    text-align: center;
    visibility: hidden;
    font-family: "Minecraft";
    font-size: 30px;
}

/* Restart button */

#restart {
    font-size: 30px;
    font-family: "Minecraft";
    text-align: center;
    width: 300px;
    height: 50px;
    margin: 10px;
    margin-left: 50%;
    transform: translateX(-50%);
}

/* Players tag */

#p1 {
    position: absolute;
    left: 0%;
    color: white;
    margin-left: 20%;
    font-size: 25px;
    font-family: "Minecraft";
    text-align: center;
    height: 40px;
}
#p2 {
    position: absolute;
    right: 0%;
    color: white;
    margin-right: 20%;
    font-size: 25px;
    font-family: "Minecraft";
    text-align: center;
    height: 40px;
}